[submodule "backEnd/codeFeed"]
	path = backEnd/codeFeed
	url = https://github.com/OneFabric/codeFeed.git
[submodule "frontEnd/startbootstrap-freelancer"]
	path = frontEnd/startbootstrap-freelancer
	url = https://github.com/OneFabric/startbootstrap-freelancer.git
